@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
#main{
    background-color: #000;
    
}

#loader {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: fixed;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 999;
}

#loader h1 {
    font-size: 6vw;
    font-weight: 100;
    line-height: 6vw;
    letter-spacing: -2px;
    position: relative;
    z-index: 9;
}

#yellow1,
#yellow2 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f3e41a;
}

#yellow1 {
    z-index: 8;
}

#yellow2 {
    z-index: 7;
}

#loader video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 6;
}

#nav {
    position: absolute;
    height: 7.5vh;
    width: auto;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 10;
}

#nav img {
    fill: #000000;
    height: 7.5vh;
    width: auto;
    object-fit: contain;
    mix-blend-mode: multiply;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #f3e41a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#page1 h1 {
    font-size: 6vw;
    font-weight: 100;
    line-height: 6vw;
    letter-spacing: -2px;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-position: center;
    transition: all ease 0.5s;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.elem{
    position: relative;
    /* background-color: red; */
    width: 100%;
    overflow: hidden;
    padding: 3vw 0;
    cursor: pointer;
}
.elem #blur{
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background: linear-gradient(#f3e51a99, #f3e41a , #f3e51a99);
    box-shadow: 10px 0px 20px 20px #f3e41a, -7px 0px 10px 100px #f3e41a ;
    height: 100%;
    z-index: 8;
}

.elem h2{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    line-height: 5vw;
    position: relative;
    z-index: 9;
    transition: font-style 0.3s ease; 
}
.elem .moving{
    background-color:#f3e41a;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%)scaleY(0);
    padding: 10px 0;
    transition: transform 0.5s ease;

}

.elem .moving .moving-in{
    display: inline-block;
    white-space: nowrap;
    animation: moving 4s linear infinite;
}


.elem .moving .moving-in h5{
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-right: 35px;
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition-delay: 0.2s; 
}

@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.elem:hover .moving{
    transform: translate(0, -50%)scaleY(1);
}


.elem:hover .moving h5{
    /* transform: translate(0 ,-50%)scaleY(1); */
    opacity: 1;
    transform: scaleY(1);
}


.elem:hover h2 {
    font-style: italic;
}



#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}
.image-container{
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

}
.image-div{

    width: 30vw;
    background-color: red;
    position: relative;
    margin: 40px 15px;
    overflow: hidden;
}

.image-div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: all ease 0.5s;
    object-position: center;
}
.over-lay{
    width: 100%;
    height: 100%;
    background-color: #00000061;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all ease 0.5s ;
    z-index: 9;
}
.over-lay p{
    font-size: 2vw;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 2vw;
    transition: all ease 0.5s;
    transition-delay: 0.2s;
    opacity: 0;
}

.image-div:hover img{
    scale: 1.02;
}

.image-div:hover .over-lay {
    background-color: #000000dc;
}
.image-div:hover .over-lay p {

    opacity: 1;
}

#footer{
    height: 30vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 40%;
}
#footer #foot{
    height: 50%;
    width: 100%;
    background-color: #000000;
}
#footer h2{
    font-family:  'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    cursor: pointer;
}